@import "utilities/variables";
@import "utilities/mixin";
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}

html {
  touch-action: manipulation;
}

html {
  font-family: $font-family-text;
  font-style: normal;
  font-variant: inherit;
  font-weight: 400;
  line-height: 1.15; /* 2 */
  font-size: 62.5%;
  -webkit-text-size-adjust: 62.5%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  @include font-smoothing(on);
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

/*  layout   */

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: border-box;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

.column,
.columns {
  margin-left: 4%;
}
.column:first-child,
.columns:first-child {
  margin-left: 0;
}

.one.column,
.one.columns {
  width: 4.66666666667%;
}
.two.columns {
  width: 13.3333333333%;
}
.three.columns {
  width: 22%;
}
.four.columns {
  width: 30.6666666667%;
}
.five.columns {
  width: 39.3333333333%;
}
.six.columns {
  width: 48%;
}
.seven.columns {
  width: 56.6666666667%;
}
.eight.columns {
  width: 65.3333333333%;
}
.nine.columns {
  width: 74%;
}
.ten.columns {
  width: 82.6666666667%;
}
.eleven.columns {
  width: 91.3333333333%;
}
.twelve.columns {
  width: 100%;
  margin-left: 0;
}

.one-third.column {
  width: 30.6666666667%;
}
.two-thirds.column {
  width: 65.3333333333%;
}

.one-half.column {
  width: 48%;
}

.tColumn.column {
  width: 46.7%;
}
.tGutter.column {
  width: 0.1%;
  border-right: 1px solid black;
  float: left;
  margin-left: 16px;
}

/* Only in front page, must be converted to Skeleton layout system  */
.six-col-full {
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
}
.four-col-middle {
  width: 100%;
  padding: 0 120px;
  display: block;
}

// line between
.line-between {
  border-right: 1px solid black;
  padding-right: 16px;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}
/* Modules
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.module,
.modules {
  background: inherit;
}
/* Modules*/
.one.module,
.one.modules {
  height: 128px;
}
.oneplus.module,
.oneplus.modules {
  height: 192px;
}
.two.modules {
  height: 292px;
}

.three.modules {
  height: 456px;
}
.four.modules {
  height: 622px;
}
.five.modules {
  height: 786px;
}
.six.modules {
  height: 950px;
}

/* fonts-size */

p {
  @include rem(margin-bottom, 16px);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 4rem;
}
h1 {
  font-weight: 900;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
small {
  font-size: 86%;
}
h3.title {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0;
}

p.title {
  margin-bottom: 0;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0;
}

/* text-align */
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}
.bold {
  font-weight: 800;
}

/*  borders */
.border-light {
  border: 1px solid black;
}

/*  margins  */

.margin-top-224 {
  margin-top: 224px;
}

.margin-top-120 {
  margin-top: 120px;
}
.margin-top-96 {
  margin-top: 96px;
}

.margin-top-80 {
  margin-top: 80px;
}
.margin-top-64 {
  margin-top: 64px;
}
.margin-top-56 {
  margin-top: 56px;
}
.margin-top-48 {
  margin-top: 48px;
}
.margin-top-40 {
  margin-top: 40px;
}
.margin-top-32 {
  margin-top: 32px;
}
.margin-top-24 {
  margin-top: 24px;
}
.margin-top-16 {
  margin-top: 16px;
}
.margin-top-8 {
  margin-top: 8px;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-top-0 {
  margin-bottom: 0px;
}

.padding-left--16 {
  padding-left: 16px;
}

/* Cintillo superior dirección en todas las páginas*/

address {
  font-style: normal;
  font-size: 1em;
  padding: 32px 0 0 0;
  margin-bottom: 2.6em;
  p.address {
    &:before {
      position: relative; /*or absolute*/
      z-index: 100000; /*a number that's more than the modal box*/
      left: 0px;
      top: 4px;
      width: 60px;
      display: inline-block;
    }
    small {
      padding-left: 8px;
    }
  }
  p.address.bkg-mcd {
    &:before {
      content: url("../images/mcdonalds-banner-b-small.svg") !important;
    }
  }
  p.address.bkg-expres {
    &:before {
      content: url("../images/mcdonalds-banner-b-small.svg") !important;
    }
  }
}

// number id
span.bgk--black {
  display: inline-block;
  background: black;
  color: white;
  padding: 8px;
  font-size: 1.4rem;
  font-weight: 700;
}

/* img */
.responsive {
  width: 100%;
  height: auto;
  min-width: 100%;
}

.bkg-mcd-big {
  background-image: url("../images/mcdonalds-banner-b-big.svg") !important;
}
.bkg-expres-big {
  background-image: url("../images/mcdonalds-banner-b-big.svg") !important;
}

.bkg-mcd-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 320px;
  border-radius: 168px;
  margin: 18px 0 0 0;
}

/* logo portada*/
.logo-informe {
  height: 64px;
  width: 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 16px auto;
}
.bkg-calculator {
  background-image: url(../images/icons/icon-calculator.svg) !important;
}
.bkg-andando {
  background-image: url(../images/logo-informe-andando.svg) !important;
}
.bkg-enCoche {
  background-image: url(../images/logo-informe-coche.svg) !important;
}

/* Tables*/

table {
  width: 100%;
}
table.tBricks {
  border-spacing: 1px;
  font-size: 12px;
}

table.tBricks {
  width: 100%;
  margin: 0;
}
table.tBricks tr {
  padding: 0 8px;
}
.table.tBricks tr td {
  font-size: 1.2rem;
  padding: 2px 8px;
}
table.tBricks th {
  background: #eeeeee;
}

table.tBricks td,
table.tBricks th {
  padding: 2px 2px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  line-height: 1.5;
}

table.tBricks td:nth-child(3),
table.tBricks th:nth-child(3) {
  text-align: right;
}
