@import "utilities/variables";
@import "utilities/mixin";
.vertical-text {
  transform: rotate(-90deg);
}

.text {
  fill: $typeBaseColor;
  text-anchor: middle;
}

// axis
.axis path,
.axis line {
  fill: none;
  stroke: $typeBaseColor;
  shape-rendering: crispEdges;
}
.y-axis,
.x-axis,
text.text {
  @include rem(font-size, 10px);
}

// colors
.bar.blue {
  fill: $blue;
  &:hover {
    fill: $red;
    cursor: pointer;
  }
}
.bar.orange {
  fill: $orange;
  &:hover {
    fill: $red;
    cursor: pointer;
  }
}

.bar.teal {
  fill: $teal;
  &:hover {
    fill: $red;
    cursor: pointer;
  }
}

.bar.coral {
  fill: $coral;
  &:hover {
    fill: $orange;
    cursor: pointer;
  }
}

// tooltips

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  background: $white;
  border: 1px solid black;
  border-radius: 2px;
  pointer-events: none;
}

.chart-pyramid {
  svg {
    max-width: 100%;
  }
  .axis line,
  axis path {
    shape-rendering: crispEdges;
    fill: transparent;
    stroke: #555;
  }
  .axis text {
    @include rem(font-size, 8px);
  }
  .bar {
    fill-opacity: 1;
  }
  .line-right,
  .line-left {
    fill: none;
  }

  .line-right:hover,
  .line-left:hover {
    opacity: 0.6;
  }
  /*
	.bar.left {
		fill: #229922;
	}
	.bar.left:hover {
		fill: #55cc55;
	}
	.bar.right {
		fill: #992222;
		}
	.bar.right:hover {
		fill: #cc5555;
	}
	*/
  .tooltip {
    position: absolute;
    line-height: 1.2em;
    padding: 8px;
    margin: 8px;
    background: #fefefe;
    color: "black";
    pointer-events: none;
    border-radius: 2px;
  }
  .legend {
    text {
      @include rem(font-size, 10px);
    }
  }
}

.chart-horizontalStackedChart {
  .legend {
    text {
      @include rem(font-size, 10px);
    }
  }
  .stackData {
    @include rem(font-size, 10px);
  }
  .segment rect:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.chart-poblacionExtranjeraContinente,
.chart-usoSuelo,
.chart-tipologiaViviendas,
.chart-regimenTenenciavivienda {
  .bar:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .legend {
    text {
      @include rem(font-size, 10px);
    }
  }
}
.chart-channelDecomposition {
  .legends {
    text {
      @include rem(font-size, 10px);
    }
  }
}

.table-ListaCompetencia td:last-child,
.table-ListaCompetencia th:last-child {
  text-align: right;
}
.table-ListaCompetencia td:nth-child(5),
.table-ListaCompetencia th:nth-child(5) {
  text-align: right;
}

.dataTableEstudio {
  border-collapse: collapse;
  width: 100%;
  tr {
    width: 100%;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
}
.table-ListaCompetencia {
  border-collapse: collapse;
  width: 100%;
  tr {
    width: 100%;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  @include rem(font-size, 10px);
  td,
  th {
    padding: 0 2px 0 0;
    line-height: 1.6;
  }
}

.table-PrediccionVenta {
  th {
    @include rem(font-size, 10px);
  }
  td,
  th {
    text-align: right;
  }
  tbody tr td:first-child {
    text-align: left;
  }
  thead tr th:first-child {
    text-align: left;
  }
}

.chart-matrizVentas {
  .estudioCircle:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .keyText {
    @include rem(font-size, 10px);
  }
  text.label {
    fill: $typeBaseColor;
    @include rem(font-size, 10px);
  }
}

.chart-waterfall {
  rect:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .bar.positive rect {
    fill: $green3;
  }
  .bar.negative rect {
    fill: $tomato;
  }

  .bar.tienda rect {
    fill: $morado2;
  }

  .bar line.connector {
    stroke: grey;
    stroke-dasharray: 3;
  }

  .bar text {
    @include rem(font-size, 12px);
    text-anchor: middle;
  }
  .bar.tienda text {
    font-weight: 800;
  }
  .axis text {
    @include rem(font-size, 10px);
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

.legend {
  text {
    font: 10px sans-serif;
  }
}

.table-marcadoresComerciales {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font: 10px sans-serif;
  tr {
    width: 100%;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  thead {
    tr {
      th {
        text-align: center;
      }
      th:first-child {
        text-align: left;
      }
    }
  }
  tbody {
    td {
      text-align: right;
    }
    tr {
      td:first-child {
        text-align: left;
      }
    }
  }
}

.table-estudio table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  font: 10px sans-serif;
  tr {
    width: 100%;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  td,
  th {
    border: 1px solid #ddd;
    padding: 4px;
  }

  td:nth-child(2),
  td:nth-child(3) {
    text-align: right;
  }
}

.circle-porc_diferencia {
  text-align: center;
  @include rem(font-size, 24px);
  background-color: $gray-extralight;
  width: 88%;
  margin: 0 auto;
  padding: 8px;
  border-radius: 64px;
}
.chart-listaTop5Paises {
  .bar-sortBar:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  text {
    @include rem(font-size, 12px);
  }
}
.photo-population {
  clear: both;
  background: url(../images/population/1.jpg) no-repeat center center;
}
