@import "utilities/variables";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-print-color-adjust: exact !important;
  color-adjust: exact !important;
}

body {
  background: $whiteSmoke;
  margin: 0;
  padding: 0;
  color: $typeBaseColor;
}

div[data-size="A4"] {
  position: relative;
  background-color: $white;
  background-image: url("../images/20180118-layout.webp");
  background-repeat: no-repeat;
  background-size: contain;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba($whiteSmoke, 0.5);
  padding: 0px 56px;
  clear: both;
}

footer {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0px;
  left: 0;
  right: 0;
  font-size: 12px;
}
div.hidden {
  display: none;
}
@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }
  @page {
    margin: 0;
    size: A4 portrait;
  }
  body,
  div[data-size="A4"] {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
    box-shadow: 0;
  }

  div[data-size="A4"] {
    background-image: none;
  }
  .hidden {
    display: none;
  }
}
