<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
  <!--<![endif]-->

  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Informe bricks</title>
    <meta
      name="description"
      content="Informe bricks: potencial de ventas de McDonalds"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no'"
    />

    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    <link rel="stylesheet" href="./node_modules/leaflet/dist/leaflet.css" />

    <link rel="stylesheet" type="text/css" href="./assets/css/main.css" />
  </head>

  <body>
    <!-- ##############******************** ##############   -->
    <!-- ##############  PAGE 1: COVER      ##############   -->
    <!-- ##############                     ##############   -->

    <div data-size="A4">
      <address></address>
      <article class="margin-top-64">
        <section class="six-col-full">
          <div id="bricks_map" class="three modules"></div>
          <div id= bricks_scale></div>
        </section>
        <section class="four-col-middle margin-top-24">
          <p class="text-align-center margin-top-16 margin-bottom-0">
            INFORME ESTUDIO |
            <span class="template-state">{{ noTuristico }}</span>
          </p>
          <p class="text-align-center">
            Bricks: Potencial de ventas para nuevas aperturas McDonalds
          </p>
        </section>
        <section class="six-col-full">
          <p class="text-align-center">
            <span class="bgk--black"
              >#<span class="template-id_study">{{ Number }}</span></span
            >
          </p>
          <h1 class="text-align-center">
            <span class="template-name">{{ Name }}</span>
          </h1>
          <h2 class="text-align-center">
            <span class="template-kind_building">{{ kind_building }}</span>
          </h2>
        </section>
        <section class="four-col-middle text-align-center margin-top-48">
          <p class="margin-bottom-0">
            <i class="fa fa-briefcase" aria-hidden="true"></i>
          </p>
          <p class="margin-bottom-0">
            Propietario del informe:
            <span class="html-nombreUsuario">Abacus</span>
          </p>
          <p>
            <span class="template-day">{{ day}}</span> |
            <span class="template-hour">{{hour}}</span>
          </p>
        </section>
        <section class="four-col-middle text-align-center margin-top-48">
          <p class="margin-bottom-0">
            <small>Abacus Consulting | Nommon Solutions</small>
          </p>
        </section>
      </article>
      <footer>
        <p class="page_number">1</p>
      </footer>
    </div>

    <!-- ##############******************** ##############   -->
    <!-- ##############  PAGE TEMPLATE: HIDDEN HTML TEMPLATE     ##############   -->
    <!-- ##############                     ##############   -->

    <div data-size="A4" class="hidden">
      <address>
        <p class="address bkg-mcd">
          <small
            ><span class="template-name">{{name}}</span> |
            <span class="template-kind_building">{{kind_building}}</span> |
            <span class="template-day">{{day}}</span> |
            <span class="template-hour">{{hour}}</span></small
          >
        </p>
      </address>

      <article>
        <section>
          <div class="container">
            <div class="row margin-top-32">
              <div class="column tColumn six modules ">
                    <table class="tBricks">
                            <tr>
                              <th>Id Bricks</th>
                              <th>Municipio</th>
                              <th>Venta (€)</th>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>1.999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife y Allí</td>
                              <td>99.999.999.009</td>
                            </tr>
          
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                            <tr>
                              <td>982407097</td>
                              <td>Santa Cruz de Tenerife</td>
                              <td>999.999.009</td>
                            </tr>
                          </table>
                        </div>

              <div class="column tGutter six modules"></div>

              <div class="column tColumn six modules">
                <table class="tBricks">
                  <tr>
                    <th>Id Bricks</th>
                    <th>Municipio</th>
                    <th>Venta (€)</th>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>1.999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife y Allí</td>
                    <td>99.999.999.009</td>
                  </tr>

                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                  <tr>
                    <td>982407097</td>
                    <td>Santa Cruz de Tenerife</td>
                    <td>999.999.009</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </section>
      </article>
      <footer>
        <p class="page_number">2</p>
      </footer>
    </div>


    <div id="bricksPages"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script>
      window.L ||
        document.write(
          '<script src="./node_modules/leaflet/dist/leaflet.js">\x3C/script>'
        );
    </script>

    <!-- JUANTXO -->

    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
      window.d3 ||
        document.write(
          '<script src="./node_modules/d3/dist/d3.min.js">\x3C/script>'
        );
    </script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/polyfills.js"
    ></script>

 
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/colors.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/dictionary.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/help.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/locale-es_ES.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/tooltipDiv.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/getMapBoxToken.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/utils/getMapBoxAttribution.js"
    ></script>

    <script
    type="text/javascript"
    charset="UTF-8"
    src="./assets/js/draw/bricksMap.js"
  ></script>

  <script
  type="text/javascript"
  charset="UTF-8"
  src="./assets/js/draw/mapColorScale.js"
></script>


    <script
    type="text/javascript"
    charset="UTF-8"
    src="./assets/js/draw/bricksTable.js"
  ></script>


    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/draw/pageNumbers.js"
    ></script>

    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/draw/htmlTemplates.js"
    ></script>

    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/wrappers/jsonGetters.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/wrappers/dataFilters.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/wrappers/dataWrappers.js"
    ></script>

    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/init_globals.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/init_data.js"
    ></script>
    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/init_draw.js"
    ></script>

    <script
      type="text/javascript"
      charset="UTF-8"
      src="./assets/js/index.js"
    ></script>
  </body>
</html>
