// D3 APP

// COLORS

// PRINCIPALES
// http://bl.ocks.org/WilliamQLiu/292ef433e312ac69ef14
$alpha: 1;
$red: rgb(230, 85, 13);
$yellow: rgb(242, 218, 87);
$orange: rgb(246, 182, 86);
$blue: rgb(49, 130, 189);
$purple: rgb(179, 150, 173);

$green1: #1b9740;
$green2: #1fad4a;
$green3: #9bcc3b;
$green4: #d6e029;
$morado1: #d73888;
$morado2: #cc66cc;
$brown: rgb(193, 186, 169);
$azul1: #3182bd;
$azul2: #9c9ede;
$coral: #ff7f50;
$tomato: #ff6347;
$rojo: #e6550d;
$amarillo: "#FFD700";
$naranja: #ffa500;
$teal: #46a4b4;

// Bootstrap
//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$black: rgb(0, 0, 0);
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 33.5%) !default; // #555
$gray-light: lighten($gray-base, 46.7%) !default; // #777 - 119
$gray-lighter: lighten($gray-base, 60.5%) !default; // #eee - 238
$gray-extralight: lighten($gray-base, 80.5%) !default; // #eee - 238

$whiteSmoke: rgb(245, 245, 245);
$white: rgb(255, 255, 255);

// type

$typeBaseColor: rgba(32, 32, 32, 1);

// links

// selections

$selection-blue: rgb(179, 212, 252);

// TYPOGRAPHY

// fonts Skeleton
$font-size-base: 62.5% !default;
$font-size-large: ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small: ceil(($font-size-base * 0.85)) !default; // ~12px

$font-family-text: "Plex", Arial, "Helvetica Neue", Helvetica, Verdana,
  sans-serif;
$font-color-text: rgba($gray-dark, 1);
